In [ ]:
import pandas as pd

# Load the datasets
transaction_file = "transaction_data.csv"
purchase_file = "purchase_behaviour.csv"

transaction_df = pd.read_csv(transaction_file)
purchase_df = pd.read_csv(purchase_file)

# 1. Identify Top 3 Most Profitable Products

# Group by product and sum total sales
top_products = (
    transaction_df.groupby(["PROD_NBR", "PROD_NAME"])["TOT_SALES"]
    .sum()
    .reset_index()
    .sort_values(by="TOT_SALES", ascending=False)
)

# Get the top 3 profitable products
top_3_products = top_products.head(3)
print("Top 3 Most Profitable Products:")
print(top_3_products)

# 2. Identify Most Loyal Customers

# Count number of transactions per customer
loyal_customers = (
    transaction_df.groupby("LYLTY_CARD_NBR")["TXN_ID"]
    .count()
    .reset_index()
    .rename(columns={"TXN_ID": "TOTAL_TRANSACTIONS"})
    .sort_values(by="TOTAL_TRANSACTIONS", ascending=False)
)

# Merge with purchase behavior data
loyal_customers_demo = loyal_customers.merge(purchase_df, on="LYLTY_CARD_NBR")

# Group by customer type and calculate average transactions per group
loyal_customers_summary = (
    loyal_customers_demo.groupby(["LIFESTAGE", "PREMIUM_CUSTOMER"])["TOTAL_TRANSACTIONS"]
    .mean()
    .reset_index()
    .sort_values(by="TOTAL_TRANSACTIONS", ascending=False)
)

# Get the top 3 most loyal customer segments
top_loyal_segments = loyal_customers_summary.head(3)
print("\nMost Loyal Customer Segments:")
print(top_loyal_segments)

In [13]:
import pandas as pd

# Load the datasets
transaction_df = pd.read_csv("transaction_data.csv")
purchase_df= pd.read_csv("purchase_behaviour.csv")

In [17]:
transaction_df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [19]:
purchase_df.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [25]:
# 1. Identify Top 3 Most Profitable Products

# Group by product and sum total sales
top_products = (
    transaction_df.groupby(["PROD_NBR", "PROD_NAME"])["TOT_SALES"]
    .sum()
    .reset_index()
    .sort_values(by="TOT_SALES", ascending=False)
)

In [27]:
# Get the top 3 profitable products
top_3_products = top_products.head(3)
print("Top 3 Most Profitable Products:")
print(top_3_products)

Top 3 Most Profitable Products:
    PROD_NBR                                 PROD_NAME  TOT_SALES
3          4          Dorito Corn Chp     Supreme 380g    40352.0
13        14    Smiths Crnkle Chip  Orgnl Big Bag 380g    36367.6
15        16  Smiths Crinkle Chips Salt & Vinegar 330g    34804.2

In [29]:
# 2. Identify Most Loyal Customers

# Count number of transactions per customer
loyal_customers = (
    transaction_df.groupby("LYLTY_CARD_NBR")["TXN_ID"]
    .count()
    .reset_index()
    .rename(columns={"TXN_ID": "TOTAL_TRANSACTIONS"})
    .sort_values(by="TOTAL_TRANSACTIONS", ascending=False)
)

In [31]:
# Merge with purchase behavior data
loyal_customers_demo = loyal_customers.merge(purchase_df, on="LYLTY_CARD_NBR")

In [33]:
# Group by customer type and calculate average transactions per group
loyal_customers_summary = (
    loyal_customers_demo.groupby(["LIFESTAGE", "PREMIUM_CUSTOMER"])["TOTAL_TRANSACTIONS"]
    .mean()
    .reset_index()
    .sort_values(by="TOTAL_TRANSACTIONS", ascending=False)
)

In [35]:
# Get the top 3 most loyal customer segments
top_loyal_segments = loyal_customers_summary.head(3)
print("\nMost Loyal Customer Segments:")
print(top_loyal_segments)

Most Loyal Customer Segments:
        LIFESTAGE PREMIUM_CUSTOMER  TOTAL_TRANSACTIONS
7  OLDER FAMILIES       Mainstream            5.031438
6  OLDER FAMILIES           Budget            4.954011
8  OLDER FAMILIES          Premium            4.921724